
@{
    ViewData["Title"] = "EditSpecifiction";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}
@model SpecificationViewModel

<div class="card">
        <div class="card-body">
            <h3 class="card-title mt-2 text-[#106eea]  font-bold text-lg">Edit Specification</h3>
            <form class="mt-4" method="post" asp-action="EditSpecification">
                <div class="row mb-3 mt-4 ml-4">
                    <label asp-for="Name" class="col-sm-2 col-form-label"></label>
                    <div class="col-sm-10">
                        <input type="text" asp-for="Name" class="form-control">
                        <span asp-validation-for="Name" class="text-danger"></span>
                    </div>
                </div>
                <div class="row-sm-10" style="display:flex; flex-direction:row; justify-content:center;">
                     <button type="submit" class="btn btn-primary bg-[#106eea]">Edit!</button>
                </div>
            </form>
        </div>
</div>