
@{
    ViewData["Tit!importantmportante"] = "CreateCategory";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}



@model CategoryVM


<div class="card-body">
        <h3 class="card-title mt-2  font-bold text-lg">Create New Category</h3>
    <form class="mt-4" method="post" asp-action="Create">
        <div class="row mb-3 mt-4 ml-4">
            <label asp-for="Category.Name" class="col-sm-2 form-label font-weight-bold"></label>
            <div class="col-sm-10">
                <input type="text" asp-for="Category.Name" class="form-control" placeholder="Enter Name">
                <span asp-validation-for="Category.Name" class="text-danger"></span>
            </div>
        </div>
               
        <div class="row mb-3 mt-4 ml-4">
            <label asp-for="Category.Image" class="col-sm-2 col-form-label font-weight-bold"></label>
            <div class="col-sm-10">
                <input type="text" asp-for="Category.Image" class="form-control" placeholder="URL">
                <span asp-validation-for="Category.Image" class="text-danger"></span>
            </div>
        </div>
            <div class="row mb-3 mt-4 ml-4">
            <label asp-for="Category.Description" class="col-sm-2 col-form-label font-weight-bold"></label>
            <div class="col-sm-10">
                <textarea asp-for="Category.Description" class="form-control" placeholder="Enter Description"></textarea>
                <span asp-validation-for="Category.Description" class="text-danger"></span>
            </div>
        </div>

            <div class="row mb-3 mt-4 ml-4">
            <label asp-for="Category.CategorySpecificationValues" class="col-sm-2 col-form-label font-weight-bold"></label>
            <div class="col-sm-10">
                <div type="text" asp-for="Category.Image" class="d-flex flex-column justifiy-content-center w-50 " placeholder="URL">
                    <span class="btn btn-info w-50 ml-auto" data-toggle="modal" data-target="#specsModel">
                        Manage
                    </span>

                    <div class="modal fade" id="specsModel" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
	                <div class="modal-dialog" role="document">
		                <div class="modal-content">
			                <div class="modal-header">
				                <h5 class="modal-title font-weight-bold" id="exampleModalLabel"> Specifications</h5>
				                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
					                <span aria-hidden="true">&times;</span>
				                </button>
			                </div>
			                <div class="modal-body overflow-auto">
				                <div>
                                        <input id="searchbox" class="search__input " type="text" placeholder="Search">
                                              
                                </div>
                                <div class="card mt-2 rounded">
		                            <div class="box">
                                        <div id="con-1" class="card-header hover:cursor-pointer hover:border-l-8 text-[#000000] border-[#48abf7]" data-toggle="collapse" data-target="#coll-1" aria-expanded="false" aria-controls="coll-1">
			                                Color
		                                </div>

		                                <div id="coll-1" class="collapse" aria-labelledby="headingOne" data-parent="#accordion">
			                                <div class="card-body">
				                                <input class="form-control inp-coll" id="inp-1" type="text" placeholder="Enter Value"/>
			                                </div>
		                                </div>
                                    </div>
                                    <div class="box">
                                        <div id="con-2" class="card-header hover:cursor-pointer hover:border-l-8 text-[#000000] border-[#48abf7]" data-toggle="collapse" data-target="#coll-2" aria-expanded="false" aria-controls="coll-2">
			                                Size
		                                </div>

		                                <div id="coll-2" class="collapse" aria-labelledby="headingOne" data-parent="#accordion">
			                                <div class="card-body">
				                                <input class="form-control inp-coll" id="inp-2" type="text" placeholder="Enter Value"/>
			                                </div>
		                                </div>
                                    </div>

                                    <div class="box">
                                        <div id="con-3" class="card-header hover:cursor-pointer hover:border-l-8 text-[#000000] border-[#48abf7]" data-toggle="collapse" data-target="#coll-3" aria-expanded="false" aria-controls="coll-3">
			                                Weight
		                                </div>

		                                <div id="coll-3" class="collapse" aria-labelledby="headingOne" data-parent="#accordion">
			                                <div class="card-body">
				                                <input class="form-control inp-coll" id="inp-3" type="text" placeholder="Enter Value"/>
			                                </div>
		                                </div>
                                    </div>
                                    <div class="box">
                                        <div id="con-4" class="card-header hover:cursor-pointer hover:border-l-8 text-[#000000] border-[#48abf7]" data-toggle="collapse" data-target="#coll-4" aria-expanded="false" aria-controls="coll-4">
			                                Solid
		                                </div>

		                                <div id="coll-4" class="collapse" aria-labelledby="headingOne" data-parent="#accordion">
			                                <div class="card-body">
				                                <input class="form-control inp-coll" id="inp-4" type="text" placeholder="Enter Value"/>
			                                </div>
		                                </div>
                                    </div>
                                    <div class="box">
                                        <div id="con-5" class="card-header hover:cursor-pointer hover:border-l-8 text-[#000000] border-[#48abf7]" data-toggle="collapse" data-target="#coll-5" aria-expanded="false" aria-controls="coll-5">
			                                Quantity
		                                </div>

		                                <div id="coll-5" class="collapse" aria-labelledby="headingOne" data-parent="#accordion">
			                                <div class="card-body">
				                                <input class="form-control inp-coll" id="inp-5" type="text" placeholder="Enter Value"/>
			                                </div>
		                                </div>
                                    </div>

	                            </div>

			                </div>
			                <div class="modal-footer">
				                <button type="button" class="btn btn-primary" data-dismiss="modal">Done</button>
			                </div>
		                </div>
	                </div>
                </div>

                </div>
                <span asp-validation-for="Category.CategorySpecificationValues" class="text-danger"></span>
            </div>
        </div>


        <div class="row-sm-10 d-flex flex-row mt-12">
            <button type="button" class="btn btn-outline-danger ml-5">Cancel</button>
            <input type="submit" class="btn btn-primary ml-5" value="Create">
        </div>
    </form>
</div>


<script>

    let cards = document.querySelectorAll('.box')
    
    function liveSearch() {
        let search_query = document.getElementById("searchbox").value;
    
        //Use innerText if all contents are visible
        //Use textContent for including hidden elements
        for (var i = 0; i < cards.length; i++) {
            if(cards[i].textContent.toLowerCase()
                    .includes(search_query.toLowerCase())) {
                cards[i].classList.remove("d-none");
            } else {
                cards[i].classList.add("d-none");
            }
        }
    }

    //A little delay
    let typingTimer;               
    let typeInterval = 200;  
    let searchInput = document.getElementById('searchbox');
    searchInput.addEventListener('keyup', () => {
        clearTimeout(typingTimer);
        typingTimer = setTimeout(liveSearch, typeInterval);
    });

    $(".inp-coll").bind('keyup', (event) => {
        let id = $(event.target).attr('id');
        let nm = id.split('-')[1];
        let conId = "#con-" + nm;
        if($(event.target).val())
            $(conId).addClass('border-l-8');
        else
            $(conId).removeClass('border-l-8');
    });

    
</script>