@{
    ViewData["Title"] = "Order Page";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

    @model IEnumerable<Product> 




<main id="main">

    <!-- ======= Breadcrumbs ======= -->
    <section id="breadcrumbs" class="breadcrumbs mr-0">
      <div class="container">

        <div class="d-flex justify-content-between align-items-center">
          <h2>WishList Details</h2>
          <ol>
            <li><a href="index.html">Order</a></li>
            <li>WishList Details</li>
          </ol>
        </div>

      </div>
    </section><!-- End Breadcrumbs -->





 
    <!-- ======= Portfolio Section ======= -->
    <section id="portfolio" class="portfolio">
      <div class="container">

        <div class="section-title" data-aos="fade-up">
          <h2>Trends</h2>
          <p>Necessitatibus eius consequatur ex aliquid fuga eum quidem</p>
        </div>

        <div class="row" data-aos="fade-up" data-aos-delay="200">
          <div class="col-lg-12 d-flex justify-content-center">
            <ul id="portfolio-flters">
              <li data-filter="*" class="filter-active">All</li>
                        @foreach (var trend in Model)
                        {
                            <li data-filter=".filter-"+@trend.Category.Name>@trend.Category.Name</li>
                            @*<li data-filter=".filter-card">Card</li>
                                <li data-filter=".filter-web">Web</li>*@
                    }    
            </ul>
          </div>
        </div>

        <div class="row portfolio-container" data-aos="fade-up" data-aos-delay="400" id="trends">



            @*filter-app*@

            @*<div class='col-lg-4 col-md-6 portfolio-item'><div class='portfolio-wrap'><img src='~/img/portfolio/portfolio-1.jpg' class='img-fluid' alt=''> <div class='portfolio-info'> <h4>App 1</h4><p>App</p> <div class='portfolio-links'><a href='~/img/portfolio/portfolio-1.jpg' data-gallery='portfolioGallery' class='portfolio-lightbox' title='Zoom In'><i class='bx bx-plus'></i></a><a asp-action='Detail' title='More Details'><i class='bx bx-link'></i></a> </div> </div></div> </div>*@



        @foreach( var trend in Model){

              <div class="col-lg-4 col-md-6 portfolio-item filter-"+@trend.Sku>
                <div class="portfolio-wrap">
                  <img src="~/img/portfolio/portfolio-1.jpg" class="img-fluid h-100" alt="">
                  <div class="portfolio-info">
                    <h4>@trend.Name</h4>
                    <p>@trend.Price</p>
                    <div class="portfolio-links">
                      <a href="~/img/portfolio/portfolio-1.jpg" data-gallery="portfolioGallery" class="portfolio-lightbox" title=@trend.Description><i class="bx bx-plus"></i></a>
                      <a asp-controller="Product" asp-action="Detail" asp-route-id =@trend.Id title="More Details"><i class="bx bx-link"></i></a>
                      <a asp-controller="Product" asp-action="Detail" asp-route-id =@trend.Id title="Add To WishList"><i class="bx bx-heart"></i></a>
                      <a asp-controller="Product" asp-action="Detail" asp-route-id =@trend.Id title="Add To Cart"><i class="bx bx-cart"></i></a>


                    </div>
                  </div>
                </div>
              </div>
          }

         
         
          
        </div>

      </div>
    </section><!-- End Portfolio Section -->
    </main>

    